*{box-sizing: border-box; margin:0px; padding:0px;/*border: 0.1px solid;*/}
@media (min-width: 800px) and (max-width: 1700px){
h1 {
	font-family: "Kanit";
	font-size: 90px;
	font-weight: 900;
	color: white;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: lightblue;
	margin: -68px 0px 0px;
}
h2 {
	font-family: "Kanit";
	font-size: 24px;
	font-weight: 600;
}
h3 {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 300;
}
.hr-margin {
	margin:4px 0px;
}
.col-35 {
	width: 35%;
}
.col-60 {
	width: 60%;
}
.col-65 {
	width: 65%;
}
.flex {
	display: flex;
}
.flex-hor {
	flex-flow: row wrap;
}
.flex-ver {
	flex-flow: column wrap;
}
.margin-starting-article {
	margin: 8px 0px 8px 0px;
}
.margin-acrticle-close {
	margin: 0px 0px 20px 0px;
}
.padding-hor {
	padding: 0px 45px
}
.padding-left10 {
	padding-left: 10px;
}
.dark-grey-bg {
	background: #474646;
}
.light-grey {
	color: #B0AEAE;
}
.dark-grey {
	color: #474646;
}
.semibold {
	font-weight: 600;
}
.img-circle {
    border-radius: 50%;
    margin: 50px 0px 50px 0px;
}
.margin-name-tag {
	margin: 110px 0px 0px 0px;
}
.margin-name-title {
	margin-top: 15px;
	margin-bottom: 51px;
}
.background-fractal-image {
	background-image: url("bg1.jpg");
	background-position: center;
}
.first {
	order: 1;
}
.second {
	order: 2;
}
.third {
	order: 3;
}
.fourth {
	order: 4;
}
}







