*{box-sizing: border-box; font-family: Helvetica;}
.col-35 {
	width: 35%;
}
.col-65 {
	width: 65%;
}
.flex {
	display: flex;
}
.margin-0 {
	margin:0px;
}
.padding-med {
	padding:20px 0px;
}
.padding-left {
	padding-left: 20px;
}
.padding-right {
	padding-right: 20px;
}
.light-grey-bg {
	background:#f1f1f1;
}
.img-circle {
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom:55px;
}
.nametag {
	margin: 75px 0px 15px 0px;

}
.nametitle {
	font: 25px Helvetica, sans serif;
	color: darkgrey;
	margin-top: 15px;
	margin-bottom: 55px;

}
.subtitle {
	font: bold 20px Helvetica, sans serif;
	color: lightgrey;
}
hr {
	width:95%;
	margin: 1px;
}
h1 {
	font-size:48px;
	font-weight: 900;
}

h2 {
	font-size:24px;
	font-weight: 600;
}

h3 {
	font-size:16px;
	font-weight: 400;
}









